.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.normal-btn {
    height: 0.4rem;
    padding: 0.05rem 0.2rem;
    background: #006699;
    color: #fff;
    font-size: 0.2rem;
    border-radius: 0.08rem;
    margin-top: 0.05rem;
}

.normal-btn-lg {
    height: 0.6rem;
    padding: 0.1rem 0.2rem;
    background: #006699;
    color: #fff;
    font-size: 0.3rem;
    border-radius: 0.1rem;
}

.fr {
    float: right;
}

.mr {
    margin-right: .2rem;
}